@import "mixins";
@import "colors";

.container {
  position: relative;
  height: calc(100% - 60px);
  width: 100%;

  ::placeholder {
    color: $gray-text;
    opacity: 0.8;
  }
}

.rectangle {
  @include light-shadow;
  width: 730px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-background;
  border-radius: 5px;
  padding: 24px;
  border-width: 1px;

  & h2 {
    color: $dart-text;
    font-size: 24px;
    text-transform: none;
    text-align: left;
    font-weight: 600;
    height: 40px;
  }

  & form {
    display: grid;

    & label {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0 10px;
      line-height: 24px;
      letter-spacing: 0;
      color: $dart-text;
      font-size: 14px;
      text-transform: none;
      text-align: left;
      font-weight: 600;

      & span {
        line-height: 24px;
        letter-spacing: 0;
        color: $gray-text;
        font-size: 12px;
        font-weight: 400;
      }
    }

    & .field {
      height: 36px;
      padding: 0 10px;
      border-radius: 3px;
      margin: 0 0 10px;
      border: 1px solid #ced0db;
      background: $white-text;
      box-sizing: border-box;
      border-color: #ced0db;
      border-width: 1px;
      border-style: solid;
    }

    & .description {
      resize: none;
      padding: 5px 10px;
      height: 108px;
    }

    & .duration {
      width: 150px;
    }

    & .date {
      width: 150px;
    }

    & .authors {
      width: 312px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 12px;

  & button:first-of-type {
    background-color: $gray-text;
  }
}
