<div class="section">
  <div class="search">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Type to search" [(ngModel)]="search" />
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="handleSearch()">
      Search
    </button>
  </div>
  <a mat-flat-button color="primary" routerLink="/courses/new">
    <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
    Add course
  </a>

  <div class="courses" *ngIf="coursesData.length > 0; else elseBlock">
    <app-course-item
      *ngFor="let course of coursesData"
      (delete)="handleDelete($event)"
      (edit)="handleEdit($event)"
      [course]="course"
    >
    </app-course-item>
  </div>
  <ng-template #elseBlock>No data. Feel free to add new course</ng-template>

  <div class="load">
    <button mat-button (click)="loadMore()">Load more</button>
  </div>
</div>
