<div
  class="course"
  appBorderColor
  [creationDate]="course.creationDate"
  [isTopRated]="course.isTopRated"
  [ngClass]="{ top: course.isTopRated }"
>
  <div class="course_heading">
    <h3>
      {{ course.title | uppercase }}
      <span class="star" *ngIf="course.isTopRated"> ⭐ </span>
    </h3>
    <div class="time_data">
      <p>
        <mat-icon> schedule </mat-icon>

        {{ course.duration | duration }}
      </p>
      <p>
        <mat-icon> calendar_today </mat-icon>
        {{ course.creationDate | date : "MM/dd/yyyy" }}
      </p>
    </div>
  </div>
  <div class="course_info">
    <p class="description">
      {{ course.description }}
    </p>
    <div class="course_actions">
      <button mat-flat-button color="primary" (click)="handleEdit(course.id)">
        <mat-icon> edit </mat-icon>
        Edit
      </button>
      <button mat-flat-button color="primary" (click)="handleDelete(course.id)">
        <mat-icon> delete </mat-icon> Delete
      </button>
    </div>
  </div>
</div>
