@import "colors";

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: $dark-background;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $white-text;

  & span {
    padding-right: 50px;
  }
}
